@using CollectIt.Database.Entities.Account
@model CollectIt.MVC.View.ViewModels.SearchBarViewModel

<form asp-controller="@Model.Controller" 
      asp-action="@Model.Action" 
      method="post" 
      asp-antiforgery="false" 
      class="input-group rounded-pill px-6 row">
    <select asp-for="ResourceType" 
            class="btn bg-light rounded-start-1 rounded-end-0 p-2 col-2">
        <option value="@(( int ) ResourceType.Image)" selected="@(Model.ResourceType == ResourceType.Image)">Изображения</option>
        <option value="@(( int ) ResourceType.Video)" selected="@(Model.ResourceType == ResourceType.Video)">Видео</option>
        <option value="@(( int ) ResourceType.Music)" selected="@(Model.ResourceType == ResourceType.Music)">Музыка</option>
    </select>
    <input asp-for="Query" 
           placeholder="Название, тэг, гэг..." 
           class="form-control col-6 rounded-start-0 rounded-end-0"/>
    <button type="submit" class="btn bg-light border rounded-end-1 rounded-start-0 col-2">Найти</button>
</form>