@model ImageViewModel

@{
    ViewData["Title"] = "Image Page";
    Layout = "_ImagesLayout";
}

<div class="rounded bg-light mb-2">
    <div class="mb-3 p-3">
        <div>
            <img src="@Model.Path" class="img-fluid main-img mah-2" alt=""/>
        </div>
        <div class="d-flex m-0 mb-2 mt-3">
            <div class="image-action-btn">
                <button class="image-action-btn border-0 rounded-pill"><i class="fa-regular fa-heart"></i> Сохранить</button>
            </div>
            <div class="image-action-btn">
                <button class="image-action-btn border-0 rounded-pill"><i class="fa-regular fa-share-from-square"></i> Поделиться</button>
            </div>
            <div class="image-action-btn">
                <button class="image-action-btn border-0 rounded-pill red">Загрузить</button>        
            </div>
        </div>
    </div>
</div>

<div class="rounded border blur-light p-2 row m-0 mb-3">
    <div class="border-end" style="width: 30%">
        <h6>Дата загрузки</h6>
        <p>@Model.UploadDate</p>
    </div>
    <div class="border-end" style="width: 30%">
        <h6>Автор</h6>
        <img src="@Model.Path" class="img-fluid photo photo-s-3" alt=""/> @Model.Owner.UserName
    </div>
    <div class="row p-2 m-0" style="width: 40%">
        <div class="rounded-pill blur-dark wh-0 maw-2 mah-1 me-2 mt-2">
            tag
        </div>
        <div class="rounded-pill blur-dark wh-0 maw-2 mah-1 me-2 mt-2">
            tag
        </div>
        <div class="rounded-pill blur-dark wh-0 maw-2 mah-1 me-2 mt-2">
            tag
        </div>
        <div class="rounded-pill blur-dark wh-0 maw-2 mah-1 mt-2">
            tag
        </div> 
    </div>
</div>
<div class="text-decoration-none">
        @foreach (var comment in Model.Comments)
        {
            <div class="container rounded blur text-blur shadow mb-3 py-2 text-start">
                <div class="row pb-1 border-bottom m-0 text-start">
                    <div class="text-blur" style="width: auto; height: auto">
                        @comment.Author
                    </div>
                    <div class="text-blur ms-auto" style="width: auto; height: auto">
                        @comment.PostTime
                    </div>
                </div>
                @comment.Comment
            </div>
        }
</div>
@if(User.Identity!.IsAuthenticated){
<form asp-controller="Images" asp-action="LeaveComment" method="post" class="text-start p-2">
    <label class="text-blur">Добавить комментарий:</label>
    <input type="hidden" name="ImageId" value="@Model.ImageId"/>
    <textarea name="Content" class="form-control blur-light p-3" placeholder="Оставить комментарий"></textarea>
    <button type="submit" class="btn btn-light rounded border-0 mt-3">Отправить комментарий</button>
</form>
}
else
{
    <div class="text-start p-2 bg-light rounded">
        <p>Войдите, чтобы оставить комментарии</p>
        <a asp-controller="Account" asp-action="Login" class="btn btn-primary">Войти</a>
        <a asp-controller="Account" asp-action="Register" class="btn-primary btn">Зарегистрироваться</a>
    </div>
}